.gradle/
build/
.kotlin/
local.properties

.idea/
*.iml
*.ipr
*.iws

.DS_Store

xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

node_modules/
react-native/lib/
.dart_tool/
.flutter-plugins-dependencies
flutter/pubspec.lock
flutter/ios/FlutterFramework/
